.container {
  height: 95vh;
  display: flex;
  justify-content: space-around;
}

.container img {
  height: 500px;
}

.container .text {
  width: 500px;
  background-color: rgb(159, 159, 159, 0.8);
}

.background-video {
  width: 100%;
  z-index: -1;
}

.artist {
  position: relative;
}

#artist-text {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 35%;
}

.hiking {
  height: 100%;
  background-image: url("../../public/magog.JPG");
  background-size: cover;
}
